body {
    display: grid;
    grid-template-rows: auto auto;
    /* center canvas horizontally */
    justify-content: center;
    /* center canvas vertically */
    align-items: center;
    /* 100% of viewport height */
    height: 100vh;
    margin: 0;
    row-gap: 5px;
    background-color: #f0f0f0;
}

.canvas-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

canvas {
    border: 1px solid wheat;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

label, input, span {
    margin-top: 10px;
}